body {
    background-color: #222;
    color: #fff;
    font-family: Consolas;
    margin: 0;
    padding: 0;
}
#background {
    position: fixed;
    overflow: hidden;
    top: -500px;
    min-width: 100vw;
    z-index: -1;
    opacity: 0.05;
}
.invisible {
    opacity: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.center p {
    text-align: center;
    font-size: 46px;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 40px;
}
.icons {
    margin-inline: 15vw;
    display: flex;
    justify-content: space-around;
    transition-duration: 0.5s;
}
.icons a {
    opacity: 0.6;
    transition-duration: 0.5s;
}
.icons a:hover {
    opacity: 1;
    transform: translateY(-10px);
}

.contact {
    position: fixed;
    margin-top: 1vh;
}
.contact li {
    margin-bottom: 20px;
    transition-duration: 0.5s;
}
.contact li:hover {
    transform: translateX(5px);
}
.contact img {
    display: inline-block;
}
.contact p {
    display: inline-block;
    margin-left: 10px;
    margin: 0;
    font-size: 20px;
}
#discord-contact {
    display: inline-flex;
    align-items: center; 
    gap: 10px;
}
.contact button {
    all: unset;
    display: inline-flex;
    align-items: center; 
    gap: 10px;
}
.contact button:hover {
    cursor: pointer;
}
.contact a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact a:hover {
    cursor: pointer;
}

#copied-text {
    border-radius: 5px;
    background-color: #4E5D94;
    margin-left: 20px;
    margin-bottom: 20px;
}
#copied-text p {
    margin: 0;
    padding: 5px;
    font-size: 16px;
}
#copied-text-align {
    display: flex;
    align-items: center;
}
.fade-in {
    opacity: 1 !important;
    transition: opacity 0.5s ease;
}
.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease;
}

.gaming {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    font-size: 10px;
}
.gaming a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
}