body {
    background-color: #222;
    color: #fff;
    font-family: Consolas;
    margin: 0;
    padding: 0;
}
#background {
    position: fixed;
    overflow: hidden;
    top: -500px;
    min-width: 100vw;
    z-index: -1;
    opacity: 0.08;
}
.invisible {
    opacity: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.center p {
    text-align: center;
    font-size: 46px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.icons {
    margin-inline: 15vw;
    display: flex;
    justify-content: space-around;
    transition-duration: 0.5s;
}
.icons a {
    opacity: 0.6;
    transition-duration: 0.5s;
}
.icons a:hover {
    opacity: 1;
    transform: translateY(-3px);
}

.contact {
    position: fixed;
    margin-top: 1vh;
}
.contact img {
    display: inline-block;
}
.contact p {
    display: inline-block;
    margin-left: 10px;
    margin: 0;
    font-size: 20px;
}
#discord-contact {
    display: inline-flex;
    align-items: center; 
    gap: 10px;
}
.contact a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-duration: 0.5s;
}
.contact span {
    display: flex;
    margin: 10px;
    margin-left: 25px;
}
.contact a:hover {
    cursor: pointer;
    color: #00fa9a;
}

.gaming {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    font-size: 10px;
}
.gaming a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
}

#background-container {
    position: fixed;
}
#background {
    height: 1600%;
    width: 2000%;
    background: url("/static/img/dc5.png") repeat;
    animation: background 60s linear infinite;
}

@keyframes background {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-512px, 512px, 0);
    }
}