#background {
    position: fixed;
    overflow: hidden;
    top: -500px;
    min-width: 100vw;
    z-index: -1;
    opacity: 0.08;
}
.invisible {
    opacity: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: max(12vw, 150px);
    height: max(12vw, 150px);
	overflow: hidden;
	border-radius: 50%;
}
.center p {
    text-align: center;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.contact {
    margin-top: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact img {
    display: inline-block;
}
.contact p {
    display: inline-block;
    margin-left: 10px;
    margin: 0;
}
.contact a {
    all: unset;
    display: flex;
    align-items: center;
    gap: 12px;
    transition-duration: 0.5s;
}
.contact span {
    display: flex;
    margin-left: 25px;
    font-size: max(1vw, 15px);
    align-items: center; 
    gap: 10px;
}
.contact a:hover {
    cursor: pointer;
    color: #0070b3;
}

#background-container {
    position: fixed;
}
#background {
    height: 1600%;
    width: 2000%;
    background: url("/static/img/dc5.png") repeat;
    animation: background 90s linear infinite;
}

@keyframes background {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-512px, 512px, 0);
    }
}